# Terraform
.terraform
.terraform.lock.hcl
*.tfstate*
*.tfvars
*.auto.tfvars

# Editors
.vscode

# Coding agents
.opencode

# OS
.DS_Store
Thumbs.db

# Python and environment vars
*.env
**/__pycache__
